<div fxLayout="column" fxLayoutAlign="none center" class="login-card-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <md-card class="login-card">
        <md-card-title>
            User Login
        </md-card-title>
        <md-input-container class="username">
                <input mdInput placeholder="Enter username..." type="username" id="username"
                    required
                    [(ngModel)]="user.username" name="username"
                    #name = "ngModel">
            </md-input-container>
            <br>
            <md-input-container class="password">
                <input mdInput placeholder="Enter password..." type="password" id="password"
                required
                [(ngModel)]="user.password" name="password"
                #name = "ngModel">
            </md-input-container>
            <br>
        <button md-button class="button" [disabled]="!loginForm.form.valid">
            Sign In
        </button>
        <button md-button class="button" (click)="signup()">
            Create Account
        </button>
        <br>
        <md-card-content>
        </md-card-content>
    </md-card>
    </form>
</div>