<div fxLayout="column" fxLayoutAlign="none center" class="login-card-container">
    <md-card class="login-card">
        <md-card-title>
            User Login
        </md-card-title>
        <md-input-container class="username">
                <input mdInput placeholder="Enter username..." type="username">
            </md-input-container>
            <br>
            <md-input-container class="password">
                <input mdInput placeholder="Enter password..." type="password">
            </md-input-container>
            <br>
        <button md-button class="button">
            Sign In
        </button>
        <button md-button class="button">
            Create Account
        </button>
        <br>
        <md-card-content>
        </md-card-content>
    </md-card>
</div>