<div class="mat-app-background">
  <nav>
    <md-toolbar class="dark-primary-color">
      <button md-button [mdMenuTriggerFor]="menu" class="default-primary-color text-primary-color navbutton">
        <i class="material-icons">reorder</i>
      </button>
      <md-menu #menu="mdMenu" yPosition="below" [overlapTrigger]="false">
        <div id="guestMenu" *ngIf="showGuestMenu">
          <button md-menu-item (click)="loginRedirect()">
            <i class="material-icons">person</i>
            Login
          </button>
        </div>
        <div id="userMenu" *ngIf="showUserMenu">
          <button md-menu-item (click)="profileRedirect()">
            Profile
          </button>
        </div>
        <div id="adminMenu" *ngIf="showAdminMenu">
          <button md-menu-item (click)="overviewRedirect()">
            Overview
          </button>
          <button md-menu-item (click)="groupsRedirect()">
            Groups
          </button>
        </div>
        <div id="logoutOption" *ngIf="showAdminMenu || showUserMenu">
            <button md-menu-item (click)="logout()">
              Logout
            </button>
        </div>
      </md-menu>
      <button md-button class="default-primary-color text-primary-color navbutton" routerLink="/home" routerLinkActive="active">
        <i class="material-icons">home</i>
      </button>
      <button md-button class="default-primary-color text-primary-color navbutton" color="primary" routerLink="/about" routerLinkActive="active">
        About
      </button>
      <!--<button md-button class="default-primary-color text-primary-color navbutton" color="primary" routerLink="/downloads" routerLinkActive="active">
        Downloads
      </button> -->
      <button md-button class="default-primary-color text-primary-color navbutton" color="primary" routerLink="/scoreboard" routerLinkActive="active">Scoreboard</button>
    <p class="text-primary-color sitetitle"> Cultural VR Game </p>
    </md-toolbar>
  </nav>
</div>
<router-outlet></router-outlet>