<div>
    <md-sidenav-container>
        <md-sidenav #sidenav mode="side">
            <md-toolbar>
                <span>First</span>
            <md-toolbar-row>
                <span>Second</span>
            </md-toolbar-row>
            <md-toolbar-row>
                <span>Third</span>
            </md-toolbar-row>
            </md-toolbar>
        </md-sidenav>
    </md-sidenav-container>
</div>
<!-- <div class="scoreboardContainer">
    <data-table id="scoreboard-grid"
        headerTitle="Scoreboard"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip">
        <data-table-column
        [property]="'name'"
        [header]="'Name'"
        [sortable]="true"
        [resizable]="true">
        </data-table-column>
    </data-table> 
</div>-->
<div>
    <md-list>
        <md-list-item>
            <md-card-title> First </md-card-title>
            <md-card>
                First Content
            </md-card>
        </md-list-item>
    </md-list>
</div>