.scoreboardContainer{
    margin: auto;
}
.header-image{
    background-image: url('../../../assets/user-male-silhouette.jpg');
    background-size: cover;
}
.container{
    margin: 100px auto;
}
.searchbar{
    font-size: 20px;
}
.search-container{
    margin: 100px auto;
    width: 30%;
}
.list-title{
    font-size: 40px;
}
.featured{
    margin: 100px auto;
    padding: 10px;
    text-align: center;
}
h3
{
    margin: 1em 0;
}
.footer{
    text-align: center;
    padding: 40px;
}
.fcard{
    margin: auto;
    padding: 0;
}