.container{
    margin: 2em auto;
}
.title{
    font-size: 50px;
}
.team-card{
    margin: 50px 0 100px;
}
.footer{
    text-align: center;
    padding: 40px;
}
.fcard{
    margin: auto;
    padding: 0;
}