<div fxLayout="column" fxAlign="none none" class="container">
    <h1 class="text-primary-color title">
        Downloads
    </h1>
    <md-card class="team-card">
        <md-card-title>System Requirements</md-card-title>
        <md-card-content>
            <p>
                In order to run the game your system must meet the following requirements:
            </p>
            <ul><strong>Minimum System Requirements</strong>
                <li>OS: Windows 7 SP1, Windows 8.1, or Windows 10.</li>
                <li>CPU: Intel i5-4590, AMD FX8350 equivalent or better.</li>
                <li>RAM: 4GB or more.</li>
                <li>Headset: HTC Vive.</li>
            </ul>
            <p>Requires Steam&copy; and SteamVR&copy; installed on your system.</p>
            <a href="https://support.steampowered.com/kb_article.php?ref=2001-UXCM-4439" target="_blank">Steam VR Support Page <i class="material-icons" style="font-size: 14px">open_in_new</i></a>
        </md-card-content>
    </md-card>
    <md-card class="team-card">
        <md-card-title>Game Download</md-card-title>
        <md-card-content>
            <p>Link to Game Download</p>
        </md-card-content>
    </md-card>
    <md-card class="team-card">
        <md-card-title>Conference Paper</md-card-title>
        <md-card-content>
            <p>Click the link to download a .pdf copy of our project's conference paper
                if you are interested in reading more about the project.
            </p>
        </md-card-content>
    </md-card>
</div>
<md-card class="fcard">
    <p class="footer text-primary-color accent-color">
        &copy; 2017 UCF Cultural VR Team and UCF Games Design Lab - MIT License
    </p>
</md-card>