.wcard{
    margin: auto;
    padding: 0px;
}
.welcome{
    padding: 40px;
    text-align: center;
}
.pcard{
    margin: 2em;
    padding: 2em;
    font-size: 1.2em;
    max-height: 180px;
    max-width: 500px;
    min-width: 500px;
}
.container{
    padding: 0;
}
.section-container
{
    margin: 50px 0;
    background-color: #3a4f63;
}
.viveCard{
    margin: 1em;
}
.image{
    max-width: 400px;
    padding: 10px;
    max-height: 300px;
}
.footer{
    text-align: center;
    padding: 40px;
}
.fcard{
    margin: auto;
    padding: 0;
}
