<md-card class="wcard">
<h1 class="welcome text-primary-color accent-color">
     Welcome to the Cultural VR Game Website! 
</h1>
</md-card>
<div class="material-container">
    <div class="container" fxLayout="column" fxLayoutAlign="start stretch" fxFill>
        <div class="section-container">
            <div class="first" fxLayout="row" fxLayoutAlign="space-around center">
                <md-card class="pcard">
                    <md-card-title>Powered by the HTC Vive.</md-card-title>
                    <p class="primary-text-color">Utilizing SteamVR and the Unity 5 platform, our game tries to let you experience an
                    unfamiliar culture via a visceral 3D experience.
                    </p>
                    <p class="secondary-text-color">
                        View stats about players on the Scoreboard link above!
                    </p>
                </md-card>
                <img src="../assets/htc-vive-pr-630.jpg" class="image">
            </div>
        </div>
        <div class="section-container">
            <div class="second" fxLayout="row" fxLayoutAlign="space-around center">
                <md-card class="pcard">
                    <md-card-title>Experience a new culture.</md-card-title>
                    <md-card-content>
                        <p>Improve your knowledge of a foreign culture by playing through
                        real life scenarios in virtual reality!</p>
                    </md-card-content>
                </md-card>
                <img src="../assets/san-sebastian-pr.jpg" class="image">
            </div>
        </div>
        <div class="section-container">
            <div class="third" fxLayout="row" fxLayoutAlign="space-around center">
                <md-card class="pcard">
                    <md-card-title>Create your profile.</md-card-title>
                    <md-card-content>
                        <p>Become a member of the website to gain access to social features.</p>
                    </md-card-content>
                </md-card>
                <img src="../assets/social-network.png" class="image">
            </div>
        </div>
        <div class="section-container">
            <div class="fourth" fxLayout="row" fxLayoutAlign="space-around center">
                <md-card class="pcard">
                    <md-card-title>View your progress.</md-card-title>
                    <md-card-content>
                        <p>
                            Once you've signed in, you can view your own progress or take a look
                            at what others have accomplished in-game.
                        </p>
                    </md-card-content>
                </md-card>
                <img src="../assets/arrows.png" class="image">
            </div>
    </div>
</div>
<md-card class="fcard">
    <p class="footer text-primary-color accent-color">
        &copy; 2017 UCF Cultural VR Team and UCF Games Design Lab - MIT License
    </p>
</md-card>